body {
    background-color: black;
}
p { 
    font-size: 20px; 
} 
h1 {
    color: white;
}
.center {
    text-align: center;
}
.container { 
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px;
    margin-left: 150px;
} 
.skill {  
    color: black; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
} 
.html { 
    background-color: #D35834;
    width: 60%; 
}
.skill.html {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}

.skill.html .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.css {
    background-color: #459AF6;
    width: 70%; 
}
.skill.css {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}

.skill.css .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.javascript{
    background-color: #F2DF50;
    width: 20%; 
}
.skill.javascript {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.javascript .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.python{
    background: #5280AF;
    width: 25%; 
}
.skill.python {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.python .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.bash{
    background: #5b5858;
    width: 20%; 
}
.skill.bash {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.bash .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.aws{
    background-color: #F19E37;
    width: 30%; 
}
.skill.aws {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.aws .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.docker{
    background-color: #459AF6;
    width: 20%; 
}
.skill.docker {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.docker .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.notion{
    background: #5b5858;
    width: 40%; 
}
.skill.notion {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.notion .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.tailwind{
    background: #62BAF3;
    width: 98%;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px); 
}
.skill.tailwind {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.tailwind .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.bootstrap{
    background: #7C1FF2;
    width: 15%; 
}
.skill.bootstrap {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.bootstrap .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.react{
    background: #499CC5;
    width: 98%; 
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.skill.react {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.react .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.typescript{
    background: #4475C0;
    width: 98%; 
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.skill.typescript {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.typescript .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.github{
    background: #FFFFFF;
    width: 40%; 
}
.skill.github {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.github .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.git{
    background: #E25A37;
    width: 10%; 
}
.skill.git {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.git .svg {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.nginx{
    background: #43972A;
    width: 15%; 
}
.skill.nginx {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.git .nginx {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.postgreSQL{
    background: #40648D;
    width: 98%;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.skill.postgreSQL {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.git .postgreSQL {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.nodejs{
    background: #69A151;
    width: 98%;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.skill.nodejs {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.git .nodejs {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.terraform{
    background: #7345B6;
    width: 98%;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.skill.terraform {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.git .terraform {
    margin-left: 5px; /* Adds some space between the SVG and text */
}
.ansible{
    background: #d3d2d2;
    width: 98%;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.skill.ansible {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-right: 5px;
}
.skill.git .ansible {
    margin-left: 5px; /* Adds some space between the SVG and text */
}